<RunSettings><DataCollectionRunSettings><DataCollectors><DataCollector friendlyName="XPlat Code Coverage"><Configuration><ExcludeByAttribute>ExcludeFromCodeCoverage</ExcludeByAttribute><ExcludeByFile>**/Program.cs</ExcludeByFile><Exclude>[*]Program,[WebApp]WebApp.App,[WebApp]WebApp._Imports</Exclude></Configuration></DataCollector></DataCollectors></DataCollectionRunSettings></RunSettings>