<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <ExcludeByAttribute>ExcludeFromCodeCoverage</ExcludeByAttribute>
          <ExcludeByFile>**/Program.cs</ExcludeByFile>
          <Exclude>[*]Program,[webapp]WebApp.App,[webapp]WebApp._Imports</Exclude>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
